**/hypr/scheme/current.conf
**/kitty/current-theme.conf
**/kitty/colors-matugen.conf
**/kitty/themes/noctalia.conf
**/kitty/*.bak

**/spicetify/config-xpui.ini
**/spicetify/Themes/caelestia/color.ini

/btop/btop.log
/btop/themes/

/fish/fish_variables
/fish/conf.d/

.SRCINFO
